*, body, html {
    
    margin: 0;
}

body, html {
    height: 100%;
}

@font-face {
    font-family: StrangerThings;
    src: url(BenguiatBold.ttf);
}

@font-face {
    font-family: WallWriting;
    src: url(KGLifeIsMessy.ttf);
}

.alphabet{
    font-family: WallWriting;
    color: black;
    text-align: center;
    font-size: 72px
}

.mainpage {
    font-family: StrangerThings;
    color: white;
    text-align: center;
}

.bg {

    /* Full height */
    height: 100%; 
    text-align: center;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    /* The image used */
    background-image: url("MainBackground.gif");
    align-items: center
    
}
.wall { 
        /* The image used */
        background-image: url("wallpaper.jpg");
    }

.dot {
        height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    }
